* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

h1,
h3,
p {
  text-align: center;
}

#title {
  padding: 10px;
}

.axis {
  font: 15px Arial, sans-serif;
}

.graph-svg-component {
  background-color: white;
  display: block;
  margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #3a3a3a;
}
